{
    "env": {
        "es6": true,
        "browser": true,
        "commonjs": true,
        "jquery": true
    },
    // for async function
    "parserOptions": {
        "ecmaVersion": 8
    },
    "extends": [
        "eslint:recommended"
    ],
    "ignorePatterns": ["*.html"],
    "rules": {
        "quotes": ["error", "double"],
        "no-irregular-whitespace": "error"
    }
}
